*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #383838;
}
h1{
  text-align: center;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(11, 83, 192);
  color: white;
  height: 6%;

}
.username h3{
    margin: 10px 0;
    font-size: 25px;
}
.username a{
    font-size: 15px;
    color: #1047ad;
    cursor: pointer;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 30px;
}
.red{
    width: 60px;
    height: 60px;
    padding: 22px 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgb(211, 7, 7);
    color: white;
    cursor: pointer;
    text-align: center;
}
 .red:hover{
    background-color: rgb(124, 124, 124);
}
.control #switch-cam{
    display: none;
}
#chat-btn{
    display: none;
}
.new-msg{
   display: none;

}
.content{
    display: flex;
    height: 75%;
}
.control{
    display: flex;
    gap: 20px;
}
.control #speaker{
    display:none;
}
.video{
    box-shadow: 0 0 5px 2px wheat;
    width: 20%;
    height: 70vh;
    background-color: #7a7272;
    z-index: 1;
}
.video i{
    display: none;
}
.audio{
    
    visibility: hidden;

}
.screen{
    box-shadow: 0px 35px 0 -33px wheat;
    width: 50%;
    height: 70vh;
    position: relative;
}
.screen i{
    color: white;
    position: absolute;
    right: 40px;
    bottom: 35px;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.textdoc{
    box-shadow: 0 0 5px 2px wheat;
    width: 30%;
    height: 70vh;
    min-width: 310px;
    position: relative;
    background-color: #7a7272;
    
}
.text{
    height: 60vh;
    /* border-top: 3px solid gray; */
    /* border-bottom: 3px solid gray; */
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
.text pre{
    background-color: rgb(43, 42, 42);
    width: max-content;
    min-width: 220px;
    border-radius: 10px;
    /* margin: 10px 20px; */
    padding: 18px 10px;
    color: white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    line-height: 1.5;
    
}
.text .dev-msg{
    display: none;
}
.text .span-msg{
    color: rgb(0, 0, 0);
    min-width: 220px;
    width:-webkit-fill-available;
    background-color: rgba(238, 238, 238, 0.541);
    border-radius: 10px;
    padding: 18px 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}
.text .time{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:10px;
    bottom:5px;
    color: rgba(0, 0, 0, 0.719);
}
.text .time-w{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right:10px;
    bottom:5px;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.589); */
}
.text .overflow-control{
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
}
 ul{
    margin: 20px 20px;
    position: absolute;
    right: -30px;
    top: 60px;
    display: flex;
    
}
ul li{
    list-style:none ;
    color: white;
    z-index: 5;
    background-color: rgba(46, 78, 182, 0.432);
    padding: 8px 15px;
    border-radius: 20px;
    margin-right:10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
li div{
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: rgb(17, 243, 17);
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 8px 2px #5ae85a;
}
li .mic{
    margin-left: 5px;
    color: orange;
    display: none;
}
#client-screen{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: none;
}
.hidebtn{
    width: 100%;
    text-align: center;
}
#client-video{
    width: 100%;
    height: auto;
    margin-top: 10px;
    transform: scaleX(-1);
    display: none;
}
#remote-video{
    width: 100%;
    height: 100%;
    /* transform: scaleX(-1); */
    
}
#hang-up{
    transform: rotate(-135deg);
}
.msg-input .emoji{
    font-size: 30px;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
    /* color: white; */
    margin: 5px;
}
.msg-input .input-type{
    padding: 10px 5px;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    /* color: white; */
    margin: 5px;
    font-size: 20px;
}
.typing-div{
    flex-direction: column;
    align-items: center;
    width: 20%;
    width: max-content;
    max-width: 80%;
    height: max-content;
    margin: 10px 20px;
    /* margin-bottom: 30px; */
    border-radius: 0px 20px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-image:linear-gradient(to top left,white, rgb(10, 57, 146));
    color: white;
    overflow-wrap: break-word;
    position: relative;
}
.typing-div::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid  rgb(25 65 141);
    border-radius: 6px;
    top: 0px;
    left: -10px;
    transform: rotate(-90deg);
}
.typing{
    /* top: 25px;
    position: absolute;
    color: #d2e7d29e;
    font-size: 15px;
    left: 10px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif; */
    width: 70px;
    border-radius: 10px 20px 5px 5px;
    margin: 0;
}
.msg-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    width: max-content;
    max-width: 80%;
    height: max-content;
    margin: 10px 20px;
    /* margin-bottom: 30px; */
    border-radius: 0px 20px 10px 10px;
    padding: 5px 5px 5px 5px;
    background-image:linear-gradient(to top left,white, rgb(10, 57, 146));
    color: white;
    overflow-wrap: break-word;
    position: relative;
    /* padding-bottom: 30px; */
}

.msg-div::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid  rgb(25 65 141);
    border-radius: 6px;
    top: 0px;
    left: -10px;
    transform: rotate(-90deg);
}
.send-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    width: max-content;
    max-width: 80%;
    height: max-content;
    margin: 10px 20px;
    /* margin-bottom: 30px; */
    border-radius: 20px 0 10px 10px;
    padding: 5px 5px 5px 5px;
    background-image:linear-gradient(to top left,white, rgb(10, 57, 146));
    color: white;
    overflow-wrap: break-word;
    position: relative;
}
.send-msg::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-radius: 6px;
    top: 0;
    border-left: 20px solid #8ea4ce;
    right: -10px;
    transform: rotate(-270deg);
}
.msg-div h4{
    width: 80%;
    padding-bottom: 10px;
    color: wheat;
    position: relative;
    left: -20px;
}
.send-msg h4{
    width: 80%;
    padding-bottom: 10px;
    color: wheat;
    position: relative;
    left: -20px;
}
.msg-div h5{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343434;
    font-size: 15px;
}
.msg-div img{
    width: 215px;
    margin-bottom: 15px;
}
.msg-div .clipboard{
    position: absolute;
    right: 20px;
    cursor: pointer;
    /* bottom: 10px; */
    color: rgb(38 38 38);
}
.send-msg h5{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #343434;
    font-size: 15px;
}
.send-msg img{
    width: 215px;
    margin-bottom: 15px;
}
.send-msg .clipboard{
    cursor: pointer;
}
.dlt-msg{
    display: flex;
    align-items: center;
}
.send-msg .opt{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
    color: rgb(38 38 38);
}
.clipboard small{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.msg-div .download{
    position: absolute;
    right: 0px;
    cursor: pointer;
    padding: 0 20px;
    color: rgb(75 73 73);
}
.send-msg .download{
    position: absolute;
    right: 0px;
    cursor: pointer;
    padding: 0 20px;
    color: rgb(75 73 73);
}


.msg-input{
    width: 100%;
    height:auto;
    max-height:400px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
    border: 2px solid #3f3e3e;
    border-radius: 30px;
    background-color: white;

}
.msg-input textarea{
    height: 25px;
    max-height: 350px;
    width: 100%;
    margin: 10px 5px 11px 5px;
    outline: none;
    border: none;
    resize: none;
    overflow: auto;
    scrollbar-width: none;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
#send-btn{
    display: none;
}
.emoji-picker{
    height: 300px;
    width: 100%;
    z-index: -1;
    opacity: 0;
    position: relative;
    top: -200;
}

.emoji-picker-open{
    opacity: 1;
    top: -290px;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    

}
.msg-input .msg-btn{
    background-color: #08ae73;
    padding: 12px 14px;
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
    color: white;
    margin: 5px;
}
.msg-input .msg-btn:hover{
    background-color: #424040;
    color: white;
}
.main{
    display: none;
    height: 100%;
}
.join{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f5f5f591;
}
.user-details{
    background-color: rgb(11, 83, 192);
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    display: none;
    box-shadow: 10px 0 10px 0 wheat;
    position: relative;
    z-index: 1;
}
.client-dtls{
    width: 100%;
}
.user-details span{
    margin:0 10px ;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: inline-block;
}
.user-details i{
    margin-right: 10px;
    cursor: pointer;
}
.container{
background-color: #e1e8ee;
height: 490px;
width: 500px;
box-shadow: 0 0 5px 2px gray;
border-radius: 5px;
text-align: center;
display: flex;
flex-direction: column;
padding: 30px 80px;
margin: 30px 0;
}
.container input{
    width: 100%;
    border: none;
    /* border-bottom: 2px solid rgb(82, 82, 82); */
    outline: none;
    height: 30px;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    background-color: #e1e8ee;
}
.container button{
    margin-bottom:15px;
    padding: 10px 0;
    font-size: 18px;
    height: 40px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: rgb(69, 116, 218);
    color: white;
    cursor: pointer;
}
.container button:hover{
    background-color: rgb(10, 60, 155);
}
.container h2{
    font-family: "Madimi One", sans-serif;
    border-bottom: 3px double gray;
    padding: 10px;
}
.container h5{
    color: white;
    background-color: #c41c1c;
    width: 100%;
    height: 20px;
    font-size: 15px;
    visibility: hidden;
    margin-bottom: 15px;
    border-radius: 20px;
}
.msg-notification{
    display: none;
}
.dev{
    margin-top: 15px;
}
.dev strong{
    display:inline-block;
}
.modal {
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.644);
  }
  
  .modal-content {
    background-image: linear-gradient( rgb(26, 82, 167),rgb(11, 29, 107));
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    min-width: 305px;
    position: absolute;
    top:-100%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.3;

    transition: top 0.5s;
  }
  .popup{
    transition: top 0.5s;
    top: 40%;
    opacity: 1;
  }
  .modal-content .data{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .data h4{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: white;

  }
  .data h6{
    font-family:"Madimi One", sans-serif;
    font-size: 18px;
    color: rgb(241, 136, 136);
  }
  .data p,.data strong{
    text-align: center;
    color: white;
  }
  .strict-model{
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.644);
  }
  .modal-content-form{
    background-color: #1047ad;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 30%;
    height: 20%;
    min-width: 305px;
    position: absolute;
    top:50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    transition: top 0.5s;
  }
  .popup-form{
    transition: top 0.5s;
    top: 40%;
  }
  .data input{
    border:none;
    outline: none;
    border-radius: 3px;
    margin: 10px 5px;
    height: 28px;
    width: 60%;
    padding: 0 8px;

  }
  .data label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .data button{
    border: none;
    background-color: darkgray;
    color: black;
    padding: 6px 8px;
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    margin: 5px;
  }
  .send-div{
    display: flex;
    width: 100%;
    justify-content: end;
  }
  #scroll-down{
    display: none;
    position: absolute;
    bottom: 100px;
    right: 10px;
    padding: 14px 13px 11px 14px;
    border-radius: 50%;
    color: white;
    background-color: #5c5c5c;
    text-align: center;
  }
  .modal-content-new{
    background-color: #1047ad;
    border-radius: 10px;
    padding: 10px;
    border: none;
    width: 30%;
    height: 15%;
    min-width: 315px;
    position: absolute;
    top:-100%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: top 0.5s;
  }
  .popup-new{
    transition: top 0.5s;
    top: 40%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
@media screen and (max-width:1320px){
    #chat-btn{
        display: block;
    }
    .msg-input{
        display: none;
    }
    .msg-input-open{
        display: flex;
    }
    .textdoc{
        position: absolute;
        right: 0;
        min-width: 0;
        width: 0;
        max-width: 450px;
        transition: all ease-in-out 0.2s;
        
    }
    .textdoc-open{
        transition: all ease-in-out 0.2s;
        box-shadow: 0 0 5px 2px wheat;
        width: 100%;
        height: 70%;
        min-width: 310px;
        /* background-color: #e4e1dc; */
        z-index: 1;
    }
    .screen{
        width: 85%;
    }
    .msg-notification{
        display: block;
        width: 15px;
        height: 15px;
        padding:0 3px;
        font-size: 12px;
        background-color: red;
        text-align: center;
        color: white;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        top:5px;
        cursor: pointer;
        visibility: hidden;
    }
    #switch-cam{
        display: block;
    }
    .new-msg{
        display: block;
        text-align: center;
        background-color: #424040;
        color: wheat;
        padding: 5px 15px;
        border-radius: 20px;
    
    }
    .msg-div img{
        width: 250px;
    }
    .send-msg img{
        width: 250px;
    }
}

@media screen and (max-width:800px){
    .video{
        /* display: flex; */
        height:fit-content;
        position: absolute;
        left: 0;
        flex-direction: column;
        align-items: center;
        color: wheat;
        box-shadow: none;
        background-color: transparent;
    }
    .video i{
        display: block;
        font-size: 25px;
        padding: 10px 0;
        visibility: hidden;
    }
    .screen{
        width: 100%;
        height: 100%;
    }
    /* .msg-input textarea{
        height: 40px;
    } */
    #client-video{
        margin: 0;
    }
    #screen-btn{
        display: none;
    }
    .modal-content {
        margin: 20% auto;
        top: -70%;
    }
    .popup{
        transition: top 0.5s;
        top: 25%;
      }
      .textdoc{
        height: 90vh;
        background-image: url('images/desktop-wallpaper-design-flower-line-dark-pattern-iphone-x-black-pattern-iphone-thumbnail.jpg');
        background-size:contain;
      }
      .textdoc-open{
        height: 85%;
      }
      .text{
        height: 72vh;
      }
}
@media screen and (max-width:500px) {
    .join .container{
        margin: 0;
        height: 100%;
    }
    .dev{
        margin-top: 100px;
    }
    .modal-content {
        margin: 45% auto;
    }
    ul{
        top: 85px;
    }
    .username{
        margin-bottom: 70px;
    }
}
@media screen and (min-height:784px) {
    .text{
        height: 72vh;
      }
      .emoji-picker-open{
        position: relative;
        opacity: 1;
        top: -300px;
        z-index: 1;
        transition: all 0.3s;
      }
}